---
title: Welcome to Didigem Guide
layout: global
author: digidemlab
summary: Practical tools to create communities and make decisions together.
democat: I'll be your guide to find your purrfect tool
infobox:
- title: Be more INCLUSIVE
  id: inclusive
  text: Everyone is equal online. It doesn’t matter where you live, how accessible
    the location is, or even what you wear; everyone is included in the discussion
    without prejudice.
- title: This will SAVE YOU TIME
  id: time
  text: We have all been stuck in endless meetings that feel like they’re going nowhere;
    together we can change that.
- title: It’s BETTER (Honestly)
  id: better
  text: Find out what people think, what people want and do something about it. We
    can find the right tool to help promote discussion and collective decisions.
---

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1>{{page.summary}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <h2>{{page.democat}}</h2>
  </div>
</div>

<div class="row">
  {% for item in page.infobox %}
    <div class="col-sm-4">
      <h3>{{item.title}}</h3>
      <p>{{item.text}}</p>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <h2>I want to…</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <dl>
      {% comment %}
      #
      #  Change date order by adding '| reversed'
      #  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
      #
      {% endcomment %}
      {% assign sorted_cats = site.categories | sort %}
      {% for category in sorted_cats %}
      {% assign sorted_posts = category[1] | reversed %}
        <dt id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</dt>
        <dd>
          <ul class="list-unstyled">
          {% for post in sorted_posts %}
            <li>
         	    <a href="{{site.baseurl}}{{post.url}}">
                <div>{{post.description}}</div>
                <div>{{post.title}}</div>
              </a>
            </li>
          {% endfor %}
        </dd>
      {% endfor %}
    </dl>
  </div>
</div>
