//
// Cat

.cat {
  background-color: $purple-light;
  border-radius: 6em;

  &_quote {
    color: $purple;
    font-family: $font-family-cat;
    padding: 1em;
  }

  .icon-triangle {
    position: absolute;
    bottom: -20px;
    left: 43%;
  }

  h2 {
    margin-bottom: 0;
  }

  @media screen and (max-width: $break-small) {
    margin-top: 3em;
  }
}

%cat-image {
  width: 11.875em;
  height: 11.875em;
  margin: 1em auto 2em;
  background-repeat: no-repeat;
  background-size: 100%;
}

.img-cat-mouse {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-mouse.svg);
}

.img-cat-proud {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-proud.svg);
}

.img-cat-happy {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-proud.svg);
}

.img-cat-back {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-back.svg);
}
