//
// Cat

.cat {
  background-color: $purple-light;
  border-radius: 6em;

  &_quote {
    font-size: 1.7em;
    line-height: 1.3em;
    color: $purple;
    font-family: $font-family-cat;
    padding: 1.1em;
    margin-bottom: 0;

    @media screen and (min-width: $break-medium) {
      font-size: 2em;
    }
  }

  .icon-triangle {
    position: absolute;
    bottom: -20px;
    left: 43%;
  }

  @media screen and (max-width: $break-small) {
    margin-top: 2em;
  }
}

%cat-image {
  width: 11.875em;
  height: 11.875em;
  margin: 1em auto 2em;
  background-repeat: no-repeat;
  background-size: 100%;
}

.img-cat-mouse {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-mouse.svg);
}

.img-cat-proud {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-proud.svg);
}

.img-cat-happy {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-happy.svg);
}

.img-cat-back {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-back.svg);
}

.img-cat-box {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-box.svg);
}

.img-cat-cool {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-cool.svg);
}

.img-cat-two {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-two.svg);
}

.img-cat-calm {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-calm.svg);
}

.img-cat-toes {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-toes.svg);
}

.img-cat-guide {
  @extend %cat-image;
  background-image: url(../../assets/images/svg/img-cat-guide.svg);
}
