//
// Content

// Infobox on start page
.infobox {
  border-bottom: solid 2px $white;

  &:last-child {
    border-bottom: none;
  }

  @media screen and (min-width: $break-small) {
    border-bottom: none;
  }

  &_inner {
    padding: 2em 0;
  }
}

.shortfact {
  padding-bottom: 1.5em;

  &_inner {
    padding: 0.6em 0;

    @media screen and (min-width: $break-medium) {
      padding: 1em 0;
    }
  }
}

.summary {
  font-size: 1.125em;
  line-height: 1.750em;
  font-family: $font-family-sans-serif;
  color: $blue;
  margin: 1em 0 0;

  @media screen and (min-width: $break-medium) {
    font-size: 1.5em;
  }
}

.category-lead {
  margin: 2.5em 0 1.5em;

  &_text {
    font-size: 1.875em;
    line-height: 1.5em;
    font-family: $font-family-sans-serif;
    color: $blue;
    font-style: italic;

    @media screen and (min-width: $break-medium) {
      font-size: 2.5em;
      margin: 1.5em 0 2em;
    }
  }
}

// Quote
.quote {
  padding: 5em 0 6em;

  blockquote {
    border-left: none;
    color: $purple;
    font-size: 1.250em;
    line-height: 1.50em;
    font-style: italic;

    @media screen and (min-width: $break-medium) {
      font-size: 1.500em;
    }
  }

  &_source {
    font-size: 1.125em;
    color: $black;

    &::before {
      content: '–';
      margin-right: 0.2em;
    }
  }
}


.resources {
  padding: 2.5em 0 4em;

  &_item:before {
    background-image: url(../../assets/images/svg/icon-link.svg);
    margin-right: 0.6em;
    height: 1.125em;
    width: 1.125em;
    background-size: 1.125em 1.125em;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    top: 0.2em;
    content: '';
  }

  &_item-twitter:before {
    background-image: url(../../assets/images/svg/icon-twitter.svg);
    margin-right: 0.6em;
    height: 1.125em;
    width: 1.375em;
    background-size: 1.375em 1.125em;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    top: 0.2em;
    content: '';
  }

  &_link:hover {
    background-color: $white;
  }
}

// Intro on tool-page and page-page
.page-intro {
  padding: 2.5em 0 4em;

  h1 {
    margin-bottom: 0;
  }
}
