
body, html {
  height: 100%;
}

img {
  //width: 100%;
  height: auto;
}

.padding {
  margin-bottom: 1em;
}

.visually-hidden {
  display: none;
}

// Infobox on start page
.infobox {
  background-color: $purple;

  &_inner {
    padding: 2.5em;
  }
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.cover-color {
  background-color: $purple;
  background-size: cover;
}
