
body, html {
  height: 100%;
}

img {
  //width: 100%;
  height: auto;
}

.padding {
  margin-bottom: 1em;
}

.visually-hidden {
  display: none;
}

.container-full-width {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  &.-blue-light {
    background-color: $blue-light;
  }

  &.-purple-light {
    background-color: $purple-light;
  }

  &.-purple {
    background-color: $purple;
  }

  &.-blue {
    background-color: $blue;
  }
}

.resources {
  padding: 2.5em 0 4em;
}


// Footer
.footer {
  background-color: $purple;
  padding: 4em 0;
  margin-top: -0.5em;
}
