
body, html {
  height: 100%;
}

img {
//  width: 100%;
  height: auto;
}

.padding {
  margin-bottom: 1em;
}

.icon-triangle {
  width: 33px;
  height: 24px;
  margin: 0 auto;
  background-image: url(../../assets/images/svg/icon-triangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.visually-hidden {
  display: none;
}
