//
// Icons

.icon-triangle {
  width: 33px;
  height: 24px;
  margin: 0 auto;
  background-image: url(../../assets/images/svg/icon-triangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-heart {
  width: 1.250em;
  height: 1.250em;
  margin: 0 auto;
  background-image: url(../../assets/images/svg/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-quote {
  height: 2.5em;
  width: 1.688em;
  margin: 0 auto;
  background-image: url(../../assets/images/svg/icon-quote.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
