//
// Links and buttons

.text-link,
a {
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
  padding: 0.05em 0em 0.15em;

  &:hover,
  &:focus,
  &:active {
    color: $link-color;
    background-color: $link-hover-color;
  }

  &.-white {
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $purple-light;
      background-color: $purple;
    }
  }
}

// Call to action button
.button-cta {
  background-color: $yellow;
  border-radius: 5em;
  color: $blue;
  padding: 1.5em 3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and (max-width: $break-small) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $link-hover-color;
    text-decoration: none;
    color: $blue;
  }
}

// Remove link styling
.clean-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}
