//
// Lists

.list-tool {
  border: solid 1px $gray-light;
  border-radius: 0.375em;
  padding: 1em 1.5em 1.5em;
  -webkit-box-shadow: 0 2px 0 0 $gray-light;
  -moz-box-shadow: 0 2px 0 0 $gray-light;
  box-shadow: 0 2px 0 0 $gray-light;
  margin: 0.5em 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    border-color: $link-color;
    background-color: $link-hover-color;
    -webkit-box-shadow: 0 2px 0 0 $link-color;
    -moz-box-shadow: 0 2px 0 0 $link-color;
    box-shadow: 0 2px 0 0 $link-color;
  }

  &_description {
    font-size: 1.250em;
    line-height: 1.50em;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    color: $link-color;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5em;

    @media screen and (min-width: $break-medium) {
      font-size: 1.5em;
    }
  }

  a {
    text-decoration: none;
  }

  &_arrow {
    position: relative;
    bottom: 1em;
    float: right;
    height: 1em;
    width: 1.188em;
  }
}

ul {

}
