//
// Logos

.logo {
  height: 3.125em;
  width: 12.438em;
  float: left;
  position: relative;
  margin: 1em;
}

.logo-digidemlab {
  margin-top: 1.5em;
  max-height: 3.063em;
  max-width: 12.188em;
}
