<div class="footer shifted-10-up ">
  <footer class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
        <p class="body-text -small -white">Digidem Guide is an initiative from <a class="text-link -white" href="http://digidemlab.org">Digidem Lab</a>, created at <a class="text-link -white" href="http://inteligenciacolectiva.cc/">Inteligencia Colectiva Para La Democracia 2016</a> at <a class="text-link -white" href="http://medialab-prado.es/">Medialab Prado</a>.
        </p>
        <p class="body-text -small -white">
          <a class="text-link -white" href="{{site.baseurl}}about">About</a> &nbsp;&nbsp; <a class="text-link -white" href="mailto:digidemguide@digidemlab.org">Contact</a>
        </p>
        <a class="text-link -white" href="http://digidemlab.org">
          <img class="logo-digidemlab" src="{{site.baseurl}}/assets/images/svg/logo-digidemlab.svg">
        </a>
      </div>
    </div>
  </footer>
</div>
