<div class="footer shifted-10-up ">
  <footer class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
        <p class="body-text -white">
          <a class="footer-link" href="{{site.baseurl}}/about">About</a><a class="footer-link" href="mailto:admin@digidemlab.org">Contact</a>
        </p>
        <p class="body-text -small -white">Democat is an initiative from <a class="text-link -white" href="http://digidemlab.org">Digidem Lab</a>, created at <a class="text-link -white" href="http://inteligenciacolectiva.cc/">Inteligencia Colectiva Para La Democracia 2016</a> at <a class="text-link -white" href="http://medialab-prado.es/">Medialab Prado</a>.
        </p>
        <p class="body-text -small -white">
          <a class="text-link -white" href="https://www.facebook.com/digidemlab/">Facebook</a> &nbsp;
          <a class="text-link -white" href="https://twitter.com/digidemlab">Twitter</a> &nbsp;
          <a class="text-link -white" href="https://github.com/digidemlab/digidemguide">GitHub</a>
        </p>

        <p>
        <a class="clean-link" href="http://digidemlab.org">
          <img class="logo-digidemlab" src="{{site.baseurl}}/assets/images/svg/logo-digidemlab.svg">
        </a>
        </p>

        <p class="body-text -xsmall -white">
          Cover photograph by Heidi Roland, <a class="text-link -white" href="http://villagearts.org/">Village of Arts and Humanities</a>. Cat illustrations by <a class="text-link -white" href="https://thenounproject.com/iconka/collection/cat-power/">Denis Sazhin</a>.<br> All other content licensed under <a class="text-link -white" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        </p>
      </div>
    </div>
  </footer>
</div>
