<div id="skip-link">
  <a href="#main-content" class="sr-only" accesskey="s">To main content</a>
</div>

<header>
  <div class="header">
    <div class="container">

      <ul class="nav navbar-nav pull-right">
       {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
       {% for post in posts %}
         {% if post.lang != page.lang %}
           <li class="nav-item">
             <a class="clean-link text-uppercase -white -small {{ post.lang }}" href="{{ site.baseurl }}{{ post.url }}">
               {{site.t[post.lang].language}}
             </a>
           </li>
         {% endif %}
       {% endfor %}
       {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
       {% for item in pages %}
         {% if item.lang != page.lang %}
           <li class="nav-item">
             <a class="clean-link text-uppercase -white -small {{ item.lang }}" href="{{ site.baseurl }}{{ item.url }}">
               {{site.t[item.lang].language}}
             </a>
           </li>
         {% endif %}
       {% endfor %}
     </ul>

      <div class="text-center nav-brand">
        <a class="clean-link" href="{{site.baseurl}}{% if page.lang == 'en'%}/{% else %}/ar{% endif %}">
          <div class="visually-hidden">
            {{site.title}}
          </div>
          <img src="{{site.baseurl}}/assets/images/svg/logo.svg" alt="Democat" class="logo">
        </a>
      </div>

    </div>
  </div>
</header>

<a id="main-content"></a>
