<div id="skip-link">
  <a href="#main-content" class="sr-only" accesskey="s">To main content</a>
</div>

<header>
  <nav class="navbar navbar-default">
    <div class="header">
      <div class="container text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="{{site.baseurl}}">
            <div class="visually-hidden">
              {{site.title}}
            </div>
          <img src="{{site.baseurl}}/assets/images/svg/logo.svg" alt="digidem guide" class="c-logo">
        </a>
        <div class="navbar-header visually-hidden">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div><!-- /.container-fluid -->
    </div>
  </nav>
</header>

<a id="main-content"></a>
