<div class="container-full-width -purple-light">
  <div class="container">
    <div class="shortfact">
      <div class="row">
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-shortfacts" src="{{site.baseurl}}/assets/images/svg/icon-participants.svg" alt="" class="icon-{{item.id}}">
            <h3 class="heading-c">Participants</h3>
            <p class="body-text -small -purple">{{page.participants}}</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-shortfacts" src="{{site.baseurl}}/assets/images/svg/icon-preparations.svg" alt="" class="icon-{{item.id}}">
            <h3 class="heading-c">Preparations</h3>
            <p class="body-text -small -purple">{{page.preparations}}</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-shortfacts" src="{{site.baseurl}}/assets/images/svg/icon-difficulty.svg" alt="" class="icon-{{item.id}}">
            <h3 class="heading-c">Difficulty</h3>
            <p class="body-text -small -purple">{{page.difficulty}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
