<div class="container-full-width -blue-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="infobox_inner">
          <img src="{{site.baseurl}}/assets/images/svg/icon-participants.svg" alt="" class="icon-{{item.id}}">
          <h3 class="heading-c">Participants</h3>
          <p class="body-text -small -blue">{{page.participants}}</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="infobox_inner">
          <img src="{{site.baseurl}}/assets/images/svg/icon-preparations.svg" alt="" class="icon-{{item.id}}">
          <h3 class="heading-c">Participants</h3>
          <p class="body-text -small -blue">{{page.preparations}}</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="infobox_inner">
          <img src="{{site.baseurl}}/assets/images/svg/icon-difficulty.svg" alt="" class="icon-{{item.id}}">
          <h3 class="heading-c">Participants</h3>
          <p class="body-text -small -blue">{{page.difficulty}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
