---
layout: default
---

<div class="container-full-width -purple-light">
	<div class="container">
		<div class="row">
			<div class="infobox">
				<div class="col-sm-12 text-center -purple small">
					<p style="margin-top:1em"><a href="https://digidemlab.org/en">Democat was a project by Digidem Lab, created at Inteligencia Colectiva Para La Democracia 2016 at Medialab Prado. This website is no longer updated. Please see Digidem Lab's website for up to date information on our work with citizens' participation.</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% include panel/header.html %}
<main id="main">
	{{content}}
</main>
{% include panel/footer.html %}
