---
layout: global
---

<!--<div class="cover-color">-->
  <div class="hero-wrap container-full-width">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 text-center hero-caption">
          <div class="hero-caption_content">
            <h1 class="heading-hero">{{page.summary}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1 text-center padding">
        <a href="#tool-listing" class="button-cta hero-button">Find your tool!</a>
      </div>
    </div>
  </div>
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="cat">
        <h2 class="cat_quote">I'll be your guide to find your purrfect tool</h2>
      </div>
      <div class="icon-triangle"></div>
      <div class="img-cat-guide"></div>
    </div>
  </div>
</div>

{% include content/infobox.html %}

<div class="container">
  <div class="tool-listing">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="heading-a -italic"><a name="tool-listing" class="clean-link">I want to…</a></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <dl>
          {% comment %}
          #
          #  Change date order by adding '| reversed'
          #  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
          #
          {% endcomment %}
          {% assign sorted_cats = site.categories | sort %}
          {% for category in sorted_cats %}
          {% assign sorted_posts = category[1] | reversed %}
            <dt class="heading-c -italic" id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</dt>
            <dd>
              <ul class="list-unstyled">
              {% for post in sorted_posts %}
                <li class="tool-listing_item">
             	    <a href="{{site.baseurl}}{{post.url}}">
                    <div class="tool-listing_description">{{post.description}}</div>
                    <div class="tool-listing_title">{{post.title}}</div>
                    <img src="{{site.baseurl}}/assets/images/svg/icon-arrow.svg" alt="" class="tool-listing_arrow">
                  </a>
                </li>
              {% endfor %}
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
