---
layout: global
---

<div class="hero-wrap"> 
    <div class="hero-caption">
        <div class="hero-caption-inner">
            <div class="hero-caption-content">
                <h1 class="heading-a -white text-center">{{page.summary}}</h1>
            </div>
        </div>
    </div>
</div>

{% include content/democat.html cat="happy" %}

<div class="row infobox">
  {% for item in page.infobox %}
    <div class="col-sm-4 text-center infobox_inner">
      <h3 class="heading-b -white">{{item.title}}</h3>
      <p class="-white">{{item.text}}</p>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <h2 class="heading-a -italic">I want to…</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <dl>
      {% comment %}
      #
      #  Change date order by adding '| reversed'
      #  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
      #
      {% endcomment %}
      {% assign sorted_cats = site.categories | sort %}
      {% for category in sorted_cats %}
      {% assign sorted_posts = category[1] | reversed %}
        <dt id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</dt>
        <dd>
          <ul class="list-unstyled">
          {% for post in sorted_posts %}
            <li>
         	    <a href="{{site.baseurl}}{{post.url}}">
                <div>{{post.description}}</div>
                <div>{{post.title}}</div>
              </a>
            </li>
          {% endfor %}
        </dd>
      {% endfor %}
    </dl>
  </div>
</div>
