---
layout: global
---

<div class="container">
  <div class="row category-lead">
    <p class="col-sm-12 col-md-10 col-md-offset-1 text-center category-lead_text">{{page.categories[0]}} {{page.description}}</p>
  </div>
</div>

<div class="tool-intro container-full-width">
  <div class="container">
    <div class="row">
      <div class="icon-heart text-center"></div>
      <h1 class="text-center heading-a">{{page.title}}</h1>
      <p class="col-sm-12 col-md-6 col-md-offset-3 text-center summary">{{page.summary}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <img class="image-tool" src="{{site.baseurl}}/assets/images/png/{{page.image}}">
    </div>
  </div>
</div>

<div class="container">

  {% include content/shortfacts.html %}

  {% include content/democat.html cat="happy" %}

  <div class="row">
    <div class="tool-content col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      {{content}}
    </div>
  </div>

  {% include content/resources.html %}
</div>

{% if page.quote %}
  {% include content/quote.html %}
{% endif %}

<div class="container">
  <div class="col-sm-12 text-center">
    <a class="btn btn-default" href="{{site.baseurl}}" role="button">Show me something else</a>
  </div>
</div>
