---
layout: global
---

<h1 class="text-center heading-a">
  <small>{{page.categories[0]}} {{page.description}}</small><br>
  {{page.title}}
</h1>
<p class="text-center lead">{{page.summary}}</p>

<img src="{{site.baseurl}}/assets/images/png/{{page.image}}">

<dl>
  <dt>Participants</dt>
  <dd>{{page.participants}}</dd>
  <dt>Preparations</dt>
  <dd>{{page.preparations}}</dd>
  <dt>Difficulty</dt>
  <dd>{{page.difficulty}}</dd>
</dl>

{% include content/democat.html cat="happy" %}

{{content}}

<h2 class="heading-b">Resources & Links</h2>
<ul class="nav nav-pills nav-stacked">
  {% if page.website %}
    <li><a href="{{page.website}}">{{page.title}} website</a></li>
  {% endif %}
  {% if page.documentation %}
    <li><a href="{{page.documentation}}">{{page.title}} documentation</a></li>
  {% endif %}
  {% if page.twitter %}
    <li><a href="http://twitter.com/{{page.twitter}}">@{{page.twitter}}</a></li>
  {% endif %}
</ul>


<a class="btn btn-default" href="{{site.baseurl}}" role="button">Show me something else</a>
